.env
.idea
venv
config/__pycache__
app/__pycache__
effective_mobile/apps/__pycache__
effective_mobile/apps/accounts/__pycache__
effective_mobile/apps/access/__pycache__
effective_mobile/apps/mock_resources/__pycache__